.azul1 {
  width: 500px;
  height: 32px;
  background: #6c8cbf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.amarillo1 {
  width: 680px;
  height: 32px;
  background: #fef1b9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 260px;
  left: 55px;
}

.azul2 {
  width: 620px;
  height: 32px;
  background: #6c8cbf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.amarillo2 {
  width: 680px;
  height: 32px;
  background: #fef1b9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 380px;
  left: 55px;
}
.azul3 {
  width: 620px;
  height: 32px;
  background: #6c8cbf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.amarillo3 {
  width: 680px;
  height: 32px;
  background: #fef1b9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 500px;
  left: 55px;
}

.azul4 {
  width: 340px;
  height: 32px;
  background: #6c8cbf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.amarillo4 {
  width: 680px;
  height: 32px;
  background: #fef1b9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 620px;
  left: 55px;
}

.uno {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.dos {
  position: fixed;
  top: -50px;
  right: -500px;
  transform: rotate(210deg);
  width: 1400px;
}

h2 {
  font-size: 4em;
  margin-left: 0.5em;
}

.desc {
  position: relative;
  font-size: 2em;
  left: -160px;
  top: 100px;
}

/*titulo de estadisticas*/
.estadis1 {
  position: absolute;
  top: 215px;
  left: 55px;
}
.estadis2 {
  position: absolute;
  top: 335px;
  left: 55px;
}
.estadis3 {
  position: absolute;
  top: 455px;
  left: 55px;
}
.estadis4 {
  position: absolute;
  top: 575px;
  left: 55px;
}

/*días*/
.cont1 {
  position: absolute;
  top: 220px;
  left: 555px;
}
.cont2 {
  position: absolute;
  top: 340px;
  left: 555px;
}
.cont3 {
  position: absolute;
  top: 460px;
  left: 555px;
}
.cont4 {
  position: absolute;
  top: 580px;
  left: 555px;
}

.metas-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.metas-container__stat {
  display: flex;
  flex-direction: column;
}

.metas-container__stat-header {
  display: flex;
}

.metas-container__stat:not(:last-child) {
  margin-bottom: 20px;
}

.metas-container__stat-header {
  margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30rem;
}

.bar{
  position: relative;
}
.porcentaje{
  /* position: absolute; */
  left: 700px;
}