.goals__container {
  width: 50vw;
  /* background-color: orange; */
  height: 1000px;
}

.colorR {
  width: 60px;
  height: 9px;
  background: #ffabab;
  border-radius: 5vh;
}

.colorA {
  width: 60px;
  height: 9px;
  background: #fff78a;
  border-radius: 5vh;
}

.colorC {
  width: 60px;
  height: 9px;
  background: #ace7ff;
  border-radius: 5vh;
}

.colorM {
  width: 97px;
  height: 9px;
  background: #a79aff;
  border-radius: 5vh;
}
