.todo-form {
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  /* justify-items: center; */
}

.todo-form__input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid #738290;
  padding: 5px 0px;
}

.todo-form__check {
  /* width: 50px; */
}
